<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#DA5151">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <link rel="icon" href="{{ url_for('static', filename='img/Logo.png') }}" type="image/png" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/createroom.js') }}"></script>
    <title>QueuePro - Create Music Session</title>
</head>
<body>
    <nav class="navbar rounded-bottom-4" style="background-color: #DA5151;">
        <div class="container-fluid">
          <a class="navbar-brand" id="wherearewe">Create Music Session</a>
          <div class="d-flex me-2">
            <h4 id="brand" class="me-2 fw-bold mt-2 mt-md-1">QueuePro</h4>
            <img src="{{ url_for('static', filename='img/Logo.png') }}" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
          </div>
        </div>
    </nav>
    <main class="container">
        <div class="row mt-5">
            <div class="row mt-5" style="height: 65vh;">
                <div class="col-4 p-3">
                    <p class="h4 fw-bolder">Enter Code:</p>
                    <input class="form-control form-control-lg" type="text" placeholder="yourcode" aria-label="yourcode" id="codefield">
                    <!-- Error  -->
                    <div id="errormessage" class="row px-5 mt-3 d-none unselectable">
                        <div class="alert alert-danger d-flex align-items-center pe-none" role="alert">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-triangle flex-shrink-0 me-4" viewBox="0 0 16 16">
                                <path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z"/>
                                <path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z"/>
                            </svg>
                            Fill the code field! <br>(Min. 6 characters) 
                        </div>
                    </div>
                </div>  
                <div class="col-8 p-3">
                    <p class="h4 fw-bolder">Rules:</p>
                    <div class="row py-4">
                        <div class="col-7 justify-content-center align-self-center">
                            <span class="h3">Skips / People</span>
                        </div>
                        <div class="col-5 justify-content-center align-self-center">
                            <div class="row">
                                <div class="col-3 justify-content-center align-self-center">
                                    <a onclick="decrementSkips()" class="imagebutton unselectable"><img src="{{ url_for('static', filename='img/minus.png') }}" alt="JoinSession" class="img-fluid float-start"></a>
                                </div>
                                <div class="col-6 justify-content-center align-self-center text-center">
                                    <span id="skipscount" class="px-5 h3 fw-bold text-center w-50">3</span>
                                </div>
                                <div class="col-3 justify-content-center align-self-center">
                                    <a onclick="incrementSkips()" class="imagebutton unselectable"><img src="{{ url_for('static', filename='img/plus.png') }}" alt="JoinSession" class="img-fluid float-end"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row py-4">
                        <div class="col-7 justify-content-center align-self-center">
                            <span class="h3">Time between same music</span>
                        </div>
                        <div class="col-5 justify-content-center align-self-center">
                            <div class="row">
                                <div class="col-3 justify-content-center align-self-center">
                                    <a onclick="decrementTimeBetweenSame()" class="imagebutton unselectable"><img src="{{ url_for('static', filename='img/minus.png') }}" alt="JoinSession" class="img-fluid float-start"></a>
                                </div>
                                <div class="col-6 justify-content-center align-self-center text-center">
                                    <span class="px-5 h3 fw-bold text-center w-50"><span id="samemusictime">2</span> h</span>
                                </div>
                                <div class="col-3 justify-content-center align-self-center">
                                    <a onclick="incrementTimeBetweenSame()" class="imagebutton unselectable"><img src="{{ url_for('static', filename='img/plus.png') }}" alt="JoinSession" class="img-fluid float-end"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row py-4">
                        <div class="col-7 justify-content-center align-self-center">
                            <span class="h3">Max amount during session to play same music</span>
                        </div>
                        <div class="col-5 justify-content-center align-self-center">
                            <div class="row">
                                <div class="col-3 justify-content-center align-self-center">
                                    <a onclick="decrementMaxOfSameSong()" class="imagebutton unselectable"><img src="{{ url_for('static', filename='img/minus.png') }}" alt="JoinSession" class="img-fluid float-start"></a>
                                </div>
                                <div class="col-6 justify-content-center align-self-center text-center">
                                    <span id="maxsamesong" class="px-5 h3 fw-bold text-center w-50">2</span>
                                </div>
                                <div class="col-3 justify-content-center align-self-center">
                                    <a onclick="incrementMaxOfSameSong()" class="imagebutton unselectable"><img src="{{ url_for('static', filename='img/plus.png') }}" alt="JoinSession" class="img-fluid float-end"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row py-4">
                        <div class="col-7 justify-content-center align-self-center">
                            <span class="h3">Maximum video lenght</span>
                        </div>
                        <div class="col-5 justify-content-center align-self-center">
                            <div class="row">
                                <div class="col-3 justify-content-center align-self-center">
                                    <a onclick="decrementMaxLenghtSong()" class="imagebutton unselectable"><img src="{{ url_for('static', filename='img/minus.png') }}" alt="JoinSession" class="img-fluid float-start"></a>
                                </div>
                                <div class="col-6 justify-content-center align-self-center text-center">
                                    <span class="px-5 h3 fw-bold text-center w-50"><span id="musiclenght">5</span> m</span>
                                </div>
                                <div class="col-3 justify-content-center align-self-center">
                                    <a onclick="incrementMaxLenghtSong()" class="imagebutton unselectable"><img src="{{ url_for('static', filename='img/plus.png') }}" alt="JoinSession" class="img-fluid float-end"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center align-items-end" style="height: 5vh;">
                <div class="col-12 text-center">
                    <a onclick="validAndCreateSession()" class="btn btn-lg btn-block btn-success">Create</a>
                </div>
                <!-- Error  -->
                <div id="errormessagecreation" class="row px-5 mt-3 d-none unselectable">
                    <div class="alert alert-danger d-flex align-items-center pe-none" role="alert">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-triangle flex-shrink-0 me-4" viewBox="0 0 16 16">
                            <path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z"/>
                            <path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z"/>
                        </svg>
                        Something went wrong!
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>