{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-6">
            <div class="justify-content-center">
                <p class="text-center h5 fw-bolder">Host Session</p>
                <div class="row text-center">
                    <div class="col-6 mx-auto">
                        <a href="/hostsession">
                            <img src="../static/img/Host.png" alt="HostSession" class="img-fluid mt-3">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="justify-content-center">
                <p class="text-center h5 fw-bolder">Join Session</p>
                <div class="row text-center">
                    <div class="col-6 mx-auto">
                        <a href="/joinsession">
                            <img src="../static/img/Join.png" alt="JoinSession" class="img-fluid mt-3">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
</body>
</html>