{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row mt-5 pe-5">
        <div class="col-4">
            <div class="row mt-3 pb-5 placeholder-glow" id="albumcoverparent">
                <img class="d-block mx-auto w-75 placeholder unselectable" src="{{ url_for('static', filename='img/emptycover.png') }}" alt="" id="albumcover">
            </div>
            <div class="row" id="audiosource-container">
                <audio id="audiosource" src="" preload=”metadata” autoplay>
                <button id="play-icon">Play</button>
            </div>
            <div class="row mt-3 d-flex">
                <div class="col-2 align-self-center"><div class="row text-center placeholder-glow" id="timecurrentparent"><span class="p-0 placeholder w-75 mx-auto" id="timecurrent">0:00</span></div></div>
                <div class="col-8">
                    <div class="row align-self-center">
                        <input type="range" id="seek-slider" max="100" value="0">
                    </div>
                </div>
                <div class="col-2 align-self-center"><div class="row text-center placeholder-glow" id="timeremainingparent"><span class="p-0 placeholder w-75 mx-auto" id="timeremaining">0:00</span></div></div>
            </div>
            <div class="row mt-5">
                <div class="col-4">
                    <img id="prevbutton" class="d-block mx-auto w-25 me-3 unselectable imagebutton" src="{{ url_for('static', filename='img/left.png') }}" alt="Prev">
                </div>
                <div class="col-4" id="playbuttoncontainer" style="min-height: 80px;">
                    <img id="playbutton" class="d-block mx-auto w-25 unselectable imagebutton" src="{{ url_for('static', filename='img/play.png') }}" alt="Play">
                </div>
                <div class="col-4">
                    <img id="nextbutton" class="d-block mx-auto w-25 ms-3 unselectable imagebutton" src="{{ url_for('static', filename='img/right.png') }}" alt="Next">
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-6 mx-auto">
                    <div class="row">
                        <div class="col-9 mx-auto align-self-center text-center">
                            <div class="row">
                                <input class="form-control w-100" type="range" id="volume-slider" min=0 max=100 step="1" value="25">
                            </div>
                            <div class="row">
                                <output id="volume-output" class="text-center mt-1"><span id="volvalue">25</span> %</output>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="row mt-3 mb-5 pb-5 placeholder-glow" id="titleandmusicserverparent">
                <span class="h5 placeholder w-75" id="musictitle">There is nothing in the queue</span>
                <span class="h5 fw-bold placeholder w-50" id="musicserver">Add something to play</span>
                <span class="d-none" id="idofsong"></span>
            </div>
            <div class="row pt-5">
                <span class="h4">Join session: </span>
                <img class="d-block w-75 mx-auto unselectable" src="{{ url_for('serverqr', sessionid=sessionid) }}" alt="QR">
                <span class="h6 mx-auto text-center mt-2"><b>Session ID: </b><span id="sessionidtext">{{ sessionid }}</span></span>
            </div>
            <div class="row pt-3">
                <div class="col-6 mx-auto text-center"><span class="pe-3">Dark Switch:</span> <img class="mx-auto unselectable" style="height: 30px;" src="{{ url_for('static', filename='img/moon.png') }}" id="darktoggle"></div>
            </div>
        </div>
        <div class="col-4 ps-3" id="queuesection">
            <div class="row mt-3 pb-2">
                <span class="h5 fw-bold" id="queuetext">Queue:</span>
            </div>
            <div class="row" id="items">
                <div class="col-12" id="queueitems">
                    <div class="row mb-3 ms-3 queueitem">
                        <div class="col-2 placeholder-glow">
                            <div class="row m-0 unselectable placeholder" style="
                            height: 50px; 
                            width: 50px; 
                            border-radius: 10px; 
                            background-size: cover;
                            background-position: center;"></div>
                        </div>
                        <div class="col-9 placeholder-glow">
                            <span class="placeholder">Bad Romance (Gaga Live Sydney Monster Hall)</span>
                            <br>
                            <span class="placeholder">TMarccci</span>
                        </div>
                        <div class="col-1 align-self-center">
                            <div class="row"><img class="d-block w-100 unselectable" src="{{ url_for('static', filename='img/delete.png') }}" alt="Delete"></div>
                        </div>
                    </div>
                    {% for i in range(6) %}
                    <div class="row mb-3 ms-3">
                        <div class="col-2 placeholder-glow">
                            <div class="row m-0 unselectable placeholder" style="
                            height: 50px; 
                            width: 50px; 
                            border-radius: 10px; 
                            background-size: cover;
                            background-position: center;"></div>
                        </div>
                        <div class="col-8 placeholder-glow">
                            <span class="placeholder">Michael Jackson - Billie Jean (Official Video)</span>
                            <br>
                            <span class="placeholder">TMarccci</span>
                        </div>
                        <div class="col-1 align-self-center">
                            <div class="row"><img class="d-block w-100 unselectable" src="{{ url_for('static', filename='img/gototop.png') }}" alt="Go To Top"></div>
                        </div>
                        <div class="col-1 align-self-center">
                            <div class="row"><img class="d-block w-100 unselectable" src="{{ url_for('static', filename='img/delete.png') }}" alt="Delete"></div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/hostroom.js') }}"></script>
{% endblock %}
</body>
</html>