{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-10 col-md-4 p-3 mx-auto mt-2">
            <p class="h4 fw-bolder">Enter Link:</p>
            <input class="form-control form-control-lg" type="text" placeholder="Paste the link"
                aria-label="Paste the link" id="linkfield" />
            <div class="col-12 text-end my-3">
                <button type="button" id="pastebtn" class="btn btn-lg btn-block"
                    style="background-color: #da5151; color: #fff">
                    Paste
                </button>
            </div>
            <hr>
            <!-- Error  -->
            <div id="errormessage" class="row px-2 mt-4 d-none unselectable">
                <div class="alert alert-danger d-flex align-items-center pe-none" role="alertcode">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-exclamation-triangle flex-shrink-0 me-4" viewBox="0 0 16 16">
                        <path
                            d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z" />
                        <path
                            d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z" />
                    </svg>
                    <span id="alerttext"></span>
                </div>
            </div>
            <div class="col-12 text-center mt-1">
                <a onclick="validateAndSendLink()" class="btn btn-lg btn-block btn-primary">Send</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-10 col-md-4 p-3 mx-auto mt-2">
            <div class="row justify-content-center align-items-end">
                <!-- Error  -->
                <div id="errormessagesend" class="row px-2 mt-1 d-none unselectable">
                    <div class="alert alert-danger d-flex align-items-center pe-none" role="alert">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-exclamation-triangle flex-shrink-0 me-4" viewBox="0 0 16 16">
                            <path
                                d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z" />
                            <path
                                d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z" />
                        </svg>
                        Something went wrong!<br />Maybe try again?
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row py-4" id="skipsparent">
        <div class="col-10 col-md-4 p-3 mx-auto mt-5">
            <div class="row">
                <div class="col-7 justify-content-center align-self-center">
                    <p class="h4 fw-bolder m-0">Skips left:</p>
                </div>
                <div class="col-5 justify-content-center align-self-center">
                    <div class="row">
                        <div class="col-6 justify-content-center align-self-center text-center">
                            <span id="skipsleft" class="px-5 h3 fw-bold text-center w-50">{{ skipsleft }}</span>
                        </div>
                        <div class="col-6 justify-content-center align-self-center">
                            <a onclick="skipCurrent()" class="unselectable"><img
                                    src="{{ url_for('static', filename='img/right.png') }}" alt="SkipButton"
                                    class="imagebutton img-fluid float-end" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="height: 20vh;">
        <div class="col-11 mx-auto text-center">
            <div class="row text-center mt-5 text-muted">
                <span class="h6"><b>Session ID: </b><span id="sessionidtext">{{ sessionid }}</span></span>
            </div>
            <div class="row text-center text-muted">
                <span class="h6"><b>Your ID: </b><span id="useridtext">{{ guestid }}</span></span>
            </div>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/submitlink.js') }}"></script>
{% endblock %}
</body>
</html>